@{
    ViewData["Title"] = "Home Page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
<html lang="en">
<head>

    <title>Login page</title>
</head>
<body>
    <h1 class="display-4">Login Form </h1>

            <!-- Username --><br><br>
            <label for="username">Username</label>
            <!-- Make sure to put "required" for both the input fields -->
            <input type="text" placeholder="Enter Username" name="username" required>

            <br><br>

            <!-- Password -->
            <label for="pswrd">Password</label>
            <input type="password" placeholder="Enter Password" name="pswrd" required>
                  <br><br>
            <input type="submit" name="Login" class="bg-primary text-white"/>



</body>
</html>