@{
    ViewData["Title"] = "DashBoard";
}
<h1>@ViewData["Title"]</h1>




 <input type="submit" name="Create" class="bg-primary text-white" value="Create Account"/>
 <br><br>
  <input type="submit" name="View" class="bg-secondary  text-white"value="View Account"/>
  <br><br>
   <input type="submit" name="Update" class="bg-info  text-white" value="Update Account"/>
   <br><br>
    <input type="submit" name="Delete" class="bg-danger text-white"value="Delete Account"/>
    <br><br>
    <button> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">DashBoard</a></button>